.section-fourth {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  height: 95vh;
  padding: 3rem 4rem;
  justify-content: end;
  background-color: black;
  background-image: url(" https://sxcontent9668.azureedge.us/cms-assets/assets/STARSHIP_Testflight_DESKTOP_2b3bea613a.jpg");
}
