.section-tow {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
    height: 95vh;
    justify-content: end;
    background-image: url("https://sxcontent9668.azureedge.us/cms-assets/assets/Starlink_G7_3_OS_56_5196_Desktop_501dcd8c6a.jpg");
    padding: 3rem 4rem;
    box-sizing: border-box;
}
